[{:itonami.blueprint/social-impact [:worker-safety :site-safety :operational-continuity]
  :itonami.blueprint/domain :elementary-services/site-scheduling-logistics-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "9629"
  :itonami.blueprint/name "Elementary Labour Site Scheduling and Logistics Coordination Practice"
  :itonami.blueprint/governor :elementary-work-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-9629"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
